<div class="definition">
  <header class="definition__header">
    {% if definition.lesson %}
    <a href="{{definition.lesson}}" target="_blank" class="definition__button button button--main">Cours dédié</a>
    {% endif %}
    <div class="definition__icon"><span class="dashicons dashicons-book-alt"></span></div>
    <p class="definition__title">{{definition.post_title}}</p>
    <p class="definition__type">Définition</p>
  </header>
  <div class="definition__content">
    <div class="definition__desc">{{definition.description}}</div>
  </div>
  {% if definition.translation or definition.abbreviation %}
  <div class="definition__meta">
    {% if definition.translation %}
    <p>Traduction : <strong>{{definition.translation}}</strong></p>
    {% endif %}
    {% if definition.abbreviation %}
    <p>Abréviation : <strong>{{definition.abbreviation}}</strong></p>
    {% endif %}
  </div>
  {% endif %}
</div>
