<div class="interview">
  <div class="interview__picture">
    <img src="{{TimberImage(people.photo).src('thumbnail')}}" alt="{{people.post_title}}">
  </div>

  <div class="interview__awards">

    {% if people.skill1 %}
      <div class="interview__award interview__award--left">
        <span class="dashicons dashicons-tickets"></span> {{people.skill1}}
      </div>
    {% endif %}

    {% if people.skill2 %}
      <div class="interview__award interview__award--right">
        <span class="dashicons dashicons-awards"></span> {{people.skill2}}
      </div>
    {% endif %}

  </div>

  <p class="interview__title">Le conseil {{article}}<span>{{people.post_title}}</span></p>

  <p class="interview__work">{{people.work}}</p>

  <div class="interview__desc wp-content">{{content}}</div>

  <div class="interview__meta">
    {% if people.twitter %}
    Suivez-moi sur Twitter : <a href="https://twitter.com/{{people.twitter}}" target="_blank">@{{people.twitter}}</a>
    {% endif %}
    {% if people.website %}•
    Mon site : <a href="{{people.website}}" target="_blank">{{people.website_name}}</a>
    {% endif %}
  </div>
</div>
